{{- $isWSL := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if contains "WSL" .chezmoi.kernel.osrelease -}}
{{-     $isWSL = true -}}
{{-   end -}}
{{- end -}}
[core]
{{- if $isWSL }}
	sshCommand = /mnt/c/Windows/System32/OpenSSH/ssh.exe
{{- else }}
	sshCommand = ssh
{{- end }}

[ghq]
	root = ~/ghq

{{- if $isWSL }}
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP5o0c4W70m2dHwIMBm7IH8KiJF5Pbpl+kdRbiE4Z3kz
[gpg]
	format = ssh
[gpg "ssh"]
	program = /mnt/c/Users/TsubasaOtsuki/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe

{{- else }}

[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBrf97+XAtEQhAMahDAUXafi88zv8rYFYGWmQKJb4kjU
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

{{- end }}

[commit]
	gpgsign = true
